<mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let usuario"> {{ usuario.id }} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> nome </th>
    <td mat-cell *matCellDef="let usuario"> {{ usuario.nome }} </td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef> cpf </th>
    <td mat-cell *matCellDef="let usuario"> {{ usuario.cpf }} </td>
  </ng-container>

  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef> idade </th>
    <td mat-cell *matCellDef="let usuario"> {{ usuario.idade }} </td>
  </ng-container>

  <ng-container matColumnDef="ações">
    <th mat-header-cell *matHeaderCellDef> ações </th>
    <td mat-cell *matCellDef="let usuario">
      <button mat-icon-button [routerLink]="['/editausuario', usuario.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="apagar(usuario.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</mat-table>
