
<mat-table [dataSource]="dataSource">

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.nome}}</mat-cell>
   </ng-container>
  
  <ng-container matColumnDef="cpf">
     <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
     <mat-cell *matCellDef="let item">{{item.cpf | cpf}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="idade">
    <mat-header-cell *matHeaderCellDef>Idade</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.idade}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button  (click)="editar(item.id)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="apagar(item.id)" mat-icon-button>
        <mat-icon >delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  
</mat-table>
